### Load Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd '/content/drive/MyDrive/Kumpulan Tugas/Rekdat Akhir'

Mounted at /content/drive
/content/drive/MyDrive/Kumpulan Tugas/Rekdat Akhir

In [ ]:
import pandas as pd

In [ ]:
df_tweet = pd.read_csv('tweet_200percalon.csv')

df_tweet

,Datetime,Tweet Id,Text,Candidate Name,Candidate Party,Candidate District
0,2022-11-28 15:08:48+00:00,1597246135487561729,"With every seat critical, Alaska goes blue. @M...",Mary Peltola,D,AK00
1,2022-11-28 14:49:38+00:00,1597241311936929792,@MillerStanIL Mary Peltola wont be anything mo...,Mary Peltola,D,AK00
2,2022-11-28 14:28:27+00:00,1597235979404079105,Join me in supporting Mary Peltola via @actblu...,Mary Peltola,D,AK00
3,2022-11-28 14:26:52+00:00,1597235582295482377,Congratulations to @MaryPeltola on her histori...,Mary Peltola,D,AK00
4,2022-11-28 14:24:45+00:00,1597235048474116096,@MaryPeltola Apparently you don’t live in Geor...,Mary Peltola,D,AK00
...,...,...,...,...,...,...
163428,2014-11-05 17:05:04+00:00,530043131433996288,Join Lynnette Greybull from @freeintl and crea...,Lynnette GreyBull,D,WY00
163429,2014-10-23 18:15:04+00:00,525349701600940032,Not our native daughters! Learn from Lynnette ...,Lynnette GreyBull,D,WY00
163430,2014-10-23 16:25:04+00:00,525322019685285888,Join Lynnette Greybull of @freeint at the Free...,Lynnette GreyBull,D,WY00
163431,2014-10-23 14:25:04+00:00,525291820792573956,Join @Setfreemovement + @WesleyanHC for the Fr...,Lynnette GreyBull,D,WY00
163432,2013-11-22 09:30:18+00:00,403817707138998272,Pretty Girls Fridays say hello to Lynette Lynn...,Lynnette GreyBull,D,WY00

In [ ]:
from nltk.tokenize import TweetTokenizer
from tqdm import tqdm
import re

In [ ]:
tweet_tokenizer = TweetTokenizer()

def tokenize_tweet(text):
  return " ".join(tweet_tokenizer.tokenize(text))

def remove_unnecessary_char(text):
  #text = re.sub("\[USERNAME\]", " ", text)
  text = re.sub("\[URL\]", " ", text)
  text = re.sub("\[SENSITIVE-NO\]", " ", text)
  text = re.sub('  +', ' ', text)
  return text

def preprocess_tweet(text):
  text = re.sub('\n',' ',text) # Remove every '\n'
  text = re.sub('^(\@\w+ ?)+',' ',text)
  text = re.sub(r'\@\w+',' ',text) # Remove every username
  text = re.sub('((www\.[^\s]+)|(https?://[^\s]+)|(http?://[^\s]+))',' ',text) # Remove every URL
  text = re.sub('/', ' ', text)
  text = re.sub(r'[^\w\s]', '', text)
  text = re.sub('  +', ' ', text) # Remove extra spaces
  return text
    
def remove_nonaplhanumeric(text):
  text = re.sub('[^0-9a-zA-Z]+', ' ', text) 
  return text

def preprocess(text):
  text = preprocess_tweet(text)
  text = remove_unnecessary_char(text)
  text = text.lower()
  text = tokenize_tweet(text)
  return text

In [ ]:
df_tweet["Clean Text"] = df_tweet["Text"].apply(preprocess)

In [ ]:
df_tweet.head(5)

,Datetime,Tweet Id,Text,Candidate Name,Candidate Party,Candidate District,Clean Text
0,2022-11-28 15:08:48+00:00,1597246135487561729,"With every seat critical, Alaska goes blue. @M...",Mary Peltola,D,AK00,with every seat critical alaska goes blue s fi...
1,2022-11-28 14:49:38+00:00,1597241311936929792,@MillerStanIL Mary Peltola wont be anything mo...,Mary Peltola,D,AK00,mary peltola wont be anything more than a stan...
2,2022-11-28 14:28:27+00:00,1597235979404079105,Join me in supporting Mary Peltola via @actblu...,Mary Peltola,D,AK00,join me in supporting mary peltola via
3,2022-11-28 14:26:52+00:00,1597235582295482377,Congratulations to @MaryPeltola on her histori...,Mary Peltola,D,AK00,congratulations to on her historic win peltola...
4,2022-11-28 14:24:45+00:00,1597235048474116096,@MaryPeltola Apparently you don’t live in Geor...,Mary Peltola,D,AK00,apparently you dont live in georgia

### 1. TextBlob

In [ ]:
from textblob import TextBlob

In [ ]:
df_tweet["Polarity"] = df_tweet["Clean Text"].apply(lambda x : TextBlob(x).polarity)

In [ ]:
df_tweet[df_tweet["Polarity"]<0]

,Datetime,Tweet Id,Text,Candidate Name,Candidate Party,Candidate District,Clean Text,Polarity
10,2022-11-28 13:59:07+00:00,1597228599983353857,"@IvanMoore1 Dude, she’s in a district that vot...",Mary Peltola,D,AK00,dude shes in a district that voted for mary pe...,-0.166667
11,2022-11-28 13:46:00+00:00,1597225296704540673,Sarah Palin loses election for Alaska House se...,Mary Peltola,D,AK00,sarah palin loses election for alaska house se...,-0.300000
23,2022-11-28 12:04:57+00:00,1597199868191465472,@MaryPeltola You obviously do not live in Geor...,Mary Peltola,D,AK00,you obviously do not live in georgia,-0.068182
39,2022-11-28 08:16:06+00:00,1597142274961391616,@CypointsPolitic If 14 is not under D+2 then n...,Mary Peltola,D,AK00,if 14 is not under d2 then not really but i do...,-0.100000
41,2022-11-28 08:01:21+00:00,1597138562566148098,@TSA You're officers at ANC are RUDE! I look f...,Mary Peltola,D,AK00,youre officers at anc are rude i look for a tu...,-0.433333
...,...,...,...,...,...,...,...,...
163357,2022-08-17 20:44:02+00:00,1560004549896814603,So Lynnette GreyBull is the Democratic candida...,Lynnette GreyBull,D,WY00,so lynnette greybull is the democratic candida...,-0.250000
163358,2022-08-17 19:23:10+00:00,1559984197435068418,It will be much easier for Dem #LynnetteGreybu...,Lynnette GreyBull,D,WY00,it will be much easier for dem lynnettegreybul...,-0.066667
163362,2022-08-17 18:12:10+00:00,1559966328538009600,I've seen a few comments about writing off the...,Lynnette GreyBull,D,WY00,ive seen a few comments about writing off the ...,-0.066667
163366,2022-08-17 13:55:11+00:00,1559901659333263360,If I didn't know the GOP has an endless supply...,Lynnette GreyBull,D,WY00,if i didnt know the gop has an endless supply ...,-0.037500
163410,2020-10-09 02:08:24+00:00,1314387204555366400,@cspan @Liz_Cheney @GreyBull4WY https://t.co/L...,Lynnette GreyBull,D,WY00,lynnette grey bull is the 1st native american ...,-0.025000

In [ ]:
district_sentiment_df = pd.DataFrame(columns=["District","D Positive Tweet","D Negative Tweet","R Positive Tweet","R Negative Tweet"])
for district in df_tweet["Candidate District"].unique():
  district_dict = {}
  district_dict["District"] = district
  district_dict["D Positive Tweet"] = len(df_tweet[(df_tweet["Candidate District"]==district) & (df_tweet["Candidate Party"]=="D") & (df_tweet["Polarity"]>0)])
  district_dict["D Negative Tweet"] = len(df_tweet[(df_tweet["Candidate District"]==district) & (df_tweet["Candidate Party"]=="D") & (df_tweet["Polarity"]<0)])
  district_dict["R Positive Tweet"] = len(df_tweet[(df_tweet["Candidate District"]==district) & (df_tweet["Candidate Party"]=="R") & (df_tweet["Polarity"]>0)])
  district_dict["R Negative Tweet"] = len(df_tweet[(df_tweet["Candidate District"]==district) & (df_tweet["Candidate Party"]=="R") & (df_tweet["Polarity"]<0)])
  
  district_sentiment_df = pd.concat([district_sentiment_df,pd.DataFrame([district_dict])])

district_sentiment_df = district_sentiment_df.reset_index()

In [ ]:
district_sentiment_df

,index,District,D Positive Tweet,D Negative Tweet,R Positive Tweet,R Negative Tweet
0,0,AK00,85,26,151,79
1,0,AL01,0,0,76,48
2,0,AL04,105,50,52,9
3,0,AL02,90,10,79,25
4,0,AL03,4,1,102,11
...,...,...,...,...,...,...
431,0,WI07,19,9,74,39
432,0,WI08,0,0,75,27
433,0,WV01,123,25,61,22
434,0,WV02,88,22,80,47
435,0,WY00,93,15,70,20

In [ ]:
district_sentiment_normalized_df = district_sentiment_df.copy()
for index, row in district_sentiment_normalized_df.iterrows():
  total_d = row["D Positive Tweet"]+row["D Negative Tweet"]
  total_r = row["R Positive Tweet"]+row["R Negative Tweet"]
  if total_d>0:
    district_sentiment_normalized_df.loc[index,"D Positive Tweet"] = row["D Positive Tweet"]/total_d
    district_sentiment_normalized_df.loc[index,"D Negative Tweet"] = row["D Negative Tweet"]/total_d
  if total_r>0:
    district_sentiment_normalized_df.loc[index,"R Positive Tweet"] = row["R Positive Tweet"]/total_r
    district_sentiment_normalized_df.loc[index,"R Negative Tweet"] = row["R Negative Tweet"]/total_r
district_sentiment_normalized_df

,index,District,D Positive Tweet,D Negative Tweet,R Positive Tweet,R Negative Tweet
0,0,AK00,0.765766,0.234234,0.656522,0.343478
1,0,AL01,0,0,0.612903,0.387097
2,0,AL04,0.677419,0.322581,0.852459,0.147541
3,0,AL02,0.9,0.1,0.759615,0.240385
4,0,AL03,0.8,0.2,0.902655,0.097345
...,...,...,...,...,...,...
431,0,WI07,0.678571,0.321429,0.654867,0.345133
432,0,WI08,0,0,0.735294,0.264706
433,0,WV01,0.831081,0.168919,0.73494,0.26506
434,0,WV02,0.8,0.2,0.629921,0.370079
435,0,WY00,0.861111,0.138889,0.777778,0.222222

In [ ]:
district_sentiment_normalized_df.to_csv("sentiment_per_district.csv",index=False)